<section class="todo-app">
  <header class="header">
    <h1>Shit I have To Do!</h1>
    <input class="new-todo" placeholder="What shit do you have to do?" autofocus="">
  </header>

  <section class="main">
    <ul class="todo-list">
      <li>
        <div class="view">
          <input class="toggle" type="checkbox">
          <label>Do Laundry</label>
        </div>
      </li>
    </ul>
  </section>
</section>