<section class="todo-app">
  <header class="header">
    <h1>Shit I have To Do!</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What shit do you have to do?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
      

    </ul>
  </section>
</section>


